body {
    background-color: #FBFBFC;
}

.cardCarousel {
    background-color: yellow;
}

.heading {
    margin-left: 58px;
    margin-top: 41px;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 32px;
    margin-bottom: 42px;
    
}
.card1, .card2, .card3, .card4 {
    width: 50%
}

.context1, .context2, .context3, .context4 {
    width: 64%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 13px rgba(0,0,0,0.6);
}

.context1, .context2, .context4 {
    margin-left: 25px;
}

.context1 {
    margin-top: 65px;
}

.context2 {
    margin-top: 74px;
}

.context3 {
    margin: 188px 0 46px 0;
    margin-left: 10px;
}

.context4 {
    margin-top: 118px;
}

.card .card-content {
    padding: 11px;
}

.materialboxed.initialized.flight {
    border-radius: 8%;
    padding-right: 14px;
}

.title {
    margin-bottom: 9px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.title, .tech {
    margin-left: 14px;
}

.tech, p {
    font-family: 'Raleway', sans-serif;
}

.materialboxed.initialized {
    padding-right: 14px;
}
