body {
    background-color: #FAFBFB;
}

.portfolio,
.porftolioContainer {
    text-align: center;
}

.portfolio {
    font-weight: 100;
}

.porftolioContainer,
.boxes {
    display: inline-block;
}

.porftolioContainer {
    margin: 1% 0 2%;
    width: 100%;
}

.porftolioContainer a {
    color: black;
}

.card-title.grey-text.text-darken-4.activator,
.description,
.card .card-content {
    text-align: left;
}

.card .card-content {
    padding: 14px 0 5px; 
}

.boxes {
    margin: 0 3% 0 .5%;
    opacity: 1; 
    vertical-align: bottom;
    width: 27.5%;
}

.boxOne,
.boxFour {
    margin-left: 0;
}

.boxThree,
.boxSix {
    margin-right: 0;
}

.card img {
    height: 253.41px;
}

.material-icons.right {
    font-size: 25px;
    position: static;
}

.material-icons.right:hover {
    opacity: .6;
}

.activator {
    padding: 10px 10px 0 10px;
}

.card-title.grey-text.text-darken-4.activator, 
.description, 
.portfolio {
    font-family: 'Dosis', sans-serif;
}

.card-title.grey-text.text-darken-4.activator,
.portfolio {
    letter-spacing: .12rem;
}

.card-title.grey-text.text-darken-4.activator {
    text-transform: uppercase;
}

.description {
    margin-top: 40px;
}

.fa.fa-github {
    font-size: 40px;
}

.fa.fa-external-link {
    font-size: 35px;
    margin-right: 10px;
    margin-left: 5px;
}

.fa.fa-github:hover, 
.fa.fa-external-link:hover {
    opacity: .6;
}

@media(max-width: 1080px) {
    .card-title.grey-text.text-darken-4.activator {
        font-weight: 300;
        font-weight: 18px;
    }

    .description {
        font-size: 14px;
    }

    .card-title.grey-text.text-darken-4.activator,
    .portfolio {
        letter-spacing: .05rem;
    }

    .card .card-title {
        font-size: 18px;
    }

    .material-icons.right {
        font-size: 21px;
    }

    .boxes {
        width: 36.5%;
    }

    .boxOne {
        margin-bottom: 2%;
    }

    .boxTwo {
        margin: 0 0 2%;
    }

    .boxThree {
        margin: 0 3% 2% 0;
    }

    .boxFour {
        margin: 0 0 2% 0;
    }

    i.right {
        margin-left: 0;
    }

    .description {
        margin-top: 10%;
    }

    .fa.fa-external-link {
        font-size: 29px;
    }

    .fa.fa-github {
        font-size: 33px;
    }
}

@media(max-width: 680px) {
    .porftolioContainer,
    .boxes {
        display: block;
    }

    .porftolioContainer {
        width: 60%;
        margin: 1% auto 2%;
    }

    .boxes {
        width: auto;
        margin: 8% auto;
    }
}

@media(max-width: 480px) {
    .porftolioContainer {
        width: 92%;
    }
}
