.container {
    background: url('https://i.imgur.com/MsIPDMf.jpg') no-repeat center fixed;
    min-width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-size: cover;
}

.main {
    flex-direction: column; 
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    right: 176px;
    top: 180px;
}

.text {
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}

.boldName {
    color: white;
}

.viewBtn {
    border: 2px solid black;
    margin-top: 14px;
    padding: 10px 21px;
    font-size: 21px;
    cursor: pointer;
}

a {
    color: black;
}

.material-icons {
    display: none;
    font-size: 18px;
    padding-left: 9px;
}

.viewBtn:hover i.material-icons {
    display: inline-block;
}

