a.brand-logo {
    padding-left: 30px;
    font-family: 'Julius Sans One', sans-serif;
}

.right .hide-on-med-and-down {
    padding-right: 37px;
}

nav ul a {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}

nav .nav-wrapper {
    /* background-color: #13172A; */
    /* background-color: #1D3557; */
    /* background-color: #1F0812; */
    /* background-color: #BAA898; */
    /* background-color: #AA998B; */
    background-color: #182C48;
    height: 113%;
    padding-top: 4px;
}

/* Mobile Formatting */

@media only screen and (min-width: 320px) {
    body nav > .nav-wrapper {
       width: 100%;
    }

    body .brand-logo {
        font-size: 20px;
        padding-left: 44px;
        left: 0px;
    }

    body .hide-on-med-and-down {
        display: inline !important;
    }
}



