a.brand-logo {
    padding-left: 30px;
    font-family: 'Julius Sans One', sans-serif;
}

.navigation {
    height: 64px;
    box-shadow: none;
}

.right .hide-on-med-and-down {
    padding-right: 37px;
}

.navigation ul a {
    font-size: 19px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: .12rem;
    font-weight: 100;
}

.navigation .nav-wrapper {
    background-color: #C2B9B8;
    height: 64px;
}

@media(max-width: 480px) {
    .navigation,
    .navigation .nav-wrapper {
        height: 56px;
    }
}


@media only screen and (min-width: 320px) {
    .navigation .nav-wrapper {
       width: 100%;
    }

    body .brand-logo,
    .navigation ul a  {
        font-size: 16px;
    }

    body .brand-logo {
        padding-left: 44px;
        left: 0px;
    }

    body .hide-on-med-and-down {
        display: inline !important;
    }
}

@media(max-width: 320px) {
    body .brand-logo,
    .navigation ul a  {
        font-size: 14px;
    }

    .navigation ul a {
        padding: 0 11px;
    }
}



